body{ background-image: url("Images/New.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}
h1{font-style: italic; font-family: cursive; color: rgb(92, 1, 31);}
img{border-radius: 50%;}
div{color: aliceblue;}
.PIC:hover{
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}